*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS"
}

body{
    display: flex;
    flex-direction: column;
    background: #37376B;
    color: white;
}

/*======Header Section Styles=======*/
header{
    width: 100%;
    align-self: center;
    padding-bottom: 2rem;
    border-bottom: 4px solid #F2807A;
    text-align: center;
    display: inline-block;
}

.contact-info{
    text-align: center;
    margin: 2rem 0 0;
    display: inline-block;
}

.contact-info a{
    color: #F2807A;
}

/*Main Section Styles*/

main{
    width: 80%;
    margin: 2rem auto 3em;
}

.section{
    width: 90%;
    margin: 0 auto 3rem;
}

.section p{
    width: 80%;
}

.section ul{
    width: 76%;
}

main div h2{
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 1.3rem;
}

main div p{
    line-height: 1.4;
}

main div ul{
    margin-left: 1rem;
}

main div li{
    margin-bottom: 0.5rem
}

h2{
    color: #F2807A;
}

/*Education Setion Styles*/
.inner-box{
    margin-bottom: 2rem;
}
/*Referee Section Styles*/
.referee{
    margin-bottom: 2rem;
}

.referee li:first-child{
    list-style: none;
    margin-left: -1rem;
}

/*img section styles*/
.img-box{
    padding: 2rem;
    display: inline-block;
    border: 2px solid #F2807A;
    margin-left:3.6rem;
}


/*FORM SECTION STYLES*/
form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 3.6rem;
    margin-top: 5rem;
}

form h2{
    margin-bottom: 1rem;
}

form .input-box{
    display: flex;
    margin-bottom: 2rem;
}

input[type="text"], input[type="email"], textarea{
   border: 2px solid #F2807A;
    background: inherit;
    padding: 0.7rem 1rem;
    display: inline-block;
    color: white;
}

input[type="text"], input[type="email"]{
    width: calc(50% - 1rem)
}

input[type="submit"]{
    width: 25%;
    padding: .6rem .8rem;
    font-size: 1rem;
    background: inherit;
    border: 2px solid #F2807A;
    color: white;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .3s, color .3s;

}

input[type="submit"]:hover{
    background: #F2807A;
    color: #37376B;

}

textarea{
    font-size: 1rem;
    width: 600px;
}


/*CONTACT FORM STYLES*/
.wrapper{
    width: 40%;
    background: inherit;
    padding: 1em;
    border: 2px solid #F2807A;
}

  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.input_field{
    width: 100%;
    margin: 0 auto;
}

  .input-container{
      width: 90%;
      margin: 0 auto;
  }

  input{
      display: block;
      margin-bottom: 1rem;
  }

  .wrapper textarea{
    width:47%;
}

  .wrapper input[type="submit"]{
    border: 0px;
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    width: 47%;
    background: #F2807A;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}

  #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
